{% extends "dataentry/newbase.html" %}

{% block title %} Type of Material Support: {{ support.type }}{% endblock %}
{% block main_heading %} Type of Material Support: {{ support.type }}{% endblock %}

{% block content %}
<table>
  <tr><td><b>Country</b></td><td><b>Groups</b></td></tr>
  {% for item in results %}
  <tr>
    <td><a href="/country/{{ item.0.id }}">{{ item.0.name }}</a></td>
    {% if item.1 %}
    {% for g in item.1 %}
    {% if forloop.first %}
    <td><a href="/pgag/{{ g.id }}">{{ g.name }}</a></td></tr>
    {% else %}
    <tr><td></td><td><a href="/pgag/{{ g.id }}">{{ g.name }}</a></td></tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <td>None</td></tr>
    {% endif %}
  {% endfor %}
</table>


{% endblock %}
target.type
