{% extends "dataentry/newbase.html" %}

{% block title %}Groups with Relationship to Government: {{ pname }}{% endblock %}
{% block main_heading %}Groups with Relationship to Government: {{ pname }}{% endblock %}

{% block content %}
<table>
  <tr><td><b>Country</b></td><td><b>Groups</b></td></tr>
  {% for item in results %}
  <tr>
    <td><a href="/militias-public/country/{{ item.0.id }}">{{ item.0.name }}</a></td>
    {% for g in item.1 %}
    {% if forloop.first %}{% else %}<tr><td></td>{% endif %}
    <td><a href="/militias-public/pgag/{{ g.id }}">{{ g.name }}</a></td></tr>
    {% endfor %}
  {% endfor %}
</table>
{% endblock %}
