{% extends "dataentry/newbase.html" %}

{% block title %}Welcome{% endblock %}
{% block main_heading %}Welcome{% endblock %}

{% block content %}

<!-- <p style="line-height: 110%;font-size: 18px" > -->
<p align="justify" > 
Welcome to the web pages of the
<a href="http://www.sabinecarey.com/militias/">Pro-Government
Militias Database (PGMD) Project</a>.
You can browse for information on pro-government militias, their types, members,
targets, purpose, support, and countries using the menu options on the left side of the
screen.
</p>

<!-- For more information on the project, see -->
<!-- <a href="http://www.sowi.uni-mannheim.de/militias/">The PGMD Homepage</a> -->
<!-- <p> -->

<p align="justify" >
Initial funding was received from the <a href="http://www.esrc.ac.uk/">Economic and Social Research
Council (ESRC)</a>, UK, RES-062-23-0363, and the <a href="http://www.prio.no/CSCW"> Centre for the
Study of Civil War (CSCW) </a> at <a href="http://www.prio.no/"> the Peace Research Institute Oslo (PRIO)</a>.
</p>
Main Investigators: <a
href="http://www.sowi.uni-mannheim.de/lspol4/">Sabine C. Carey</a> and
<a href="https://www.ucl.ac.uk/political-science/people/academic/neil-mitchell">Neil J.
Mitchell</a>. <a href="mailto:militias@uni-mannheim.de">Contact us here</a>.
<br />
<br />
<br />
</p>
<p align="justify" >
<em> When using these data, please cite:</em>
<br/>
Carey, Sabine C., Neil J. Mitchell and Will Lowe. 2013. ‘States, the
Security Sector, and the Monopoly of Violence: A New Database on
Pro-Government Militias. <em>Journal of Peace Research</em> 50(2), 249-258
</p>
<p align="justify" >
and
</p>
<p align="justify" >
The Pro-Government Militias Database (PGMD)
<a href="http://www.sabinecarey.com/militias/">http://www.sabinecarey.com/militias/</a> whenever appropriate.
</p>
<br />
<br />
<p align="justify" >
<b> Advance notice of update PGMD version 2.0</b>
<br/>
We are currently working on updating the PGMD version 2.0. Version 2.0 will cover the years 1981 to 2014
    and will include new variables on how PGMs were terminated, how they were created, as well as more specific information on ethnic membership and ethnic targets.
    You can view a DRAFT of the codebook for the updated PGMD v2.0 <a href="http://www.sabinecarey.com/s/DRAFT_PGMD_v2_Codebook_June-2018.pdf">here</a>.
</p>
<p align="justify" >
PLEASE NOTE that this codebook will continue to change until the release of PGMD version 2.0, which is planned for 2019.
</p>
<br />
<br />
<p><small>
This database was designed by <a href="http://conjugateprior.org/">Will Lowe</a> and is maintained by Anita Gohdes and Katrin Paula.
</small></p>

{% endblock %}
